@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34;
  font-family: bold;

}

.logo img {
  width: 35px;
  height: 25px;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
  height: 50px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.253);
}

.navbar {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar ul {
  width: 100%;
  display: flex;
  list-style: none;

}

.navbar li {
  display: inline;
  margin: 0 2rem;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #00000088;
}

.navIcons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navIcons ul li {
  margin: 1rem;
  list-style: none;
  float: left;
}

.navIcons ul li a {
  text-align: center;
  margin: 0 .7rem;
}


.navIcons img {
  width: 15px;
  height: 15px;
}



.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 170px;
  z-index: 999;
  background-color: rgb(249, 241, 231, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}


.sidebar ul {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.sidebar li {
  display: inline;
  margin: 0 2rem;
}

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sidebar ul li {
  padding: 10px;
  margin-left: 5px;
}

.sidebar.visible {
  display: flex;
}

.sidebar a:hover {
  text-decoration: none;
  cursor: pointer;
  /* color: #77777788; */
}

.sidebarIcons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


.sidebarIcons ul {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebarIcons ul li {
  width: 100%;
}

.sidebarIcons ul li a {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 2px;
}

.sidebarIcons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  padding: 1px;
  margin: 3px;
}

.sidebarIcons p {
  font-size: 16px;
  padding: 2px;
}

.sidebarIcons a:hover {
  text-decoration: none;
}


#toggleSidebar {
  display: none;
  /* height: 0;
  overflow: hidden;
  cursor: pointer; */
}

@media screen and (max-width: 821px) {
  #toggleSidebar {
    display: block;
    height: auto;
    overflow: visible;
  }

  .navbar,
  .navIcons {
    display: none;
  }

  .logo a {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: bold;
  }

  .nav .logo h1 {
    font-size: 18;
  }

  .logo img {
    width: 30px;
    height: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar ul li {
    font-size: 14px;
  }

  /* .navbar li {
    display: inline;
    margin: 0 2rem;
    padding: 2px;
  } */



  .navIcons ul li {
    margin: 0.4rem;
  }
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 10;
  position: relative;
}

.headerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 20;
}

/* h1 {
  /* font-family:; */

.headerContent p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.headerImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100vh;
}


.headerBottom {
  color: rgb(0, 0, 0);
  background-color: #F9F1E7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: 60px;
  box-shadow: 0px 3px 3px 5px #F9F1E7;
}

.headerBottom img {
  width: 20px;
  height: 20px;
  margin-right: .8rem;
}

.filter {
  display: flex;
  padding-left: 4rem;
}

#products {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 5px;
  padding: 5px
}







#products .productCard {
  display: none;
}

#products .productCard.visible {
  display: block;
}

#products .productCard.hidden {
  display: none;
}

.productCard {
  position: relative;
  border-radius: 1px;
  overflow: hidden;
  width: 300px;
  padding: 20px;
}


.newBadge {
  position: absolute;
  top: 40px; 
  right: 50px; 
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  z-index: 10;
  background-color: #2EC1AC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountBadge {
  position: absolute;
  top: 40px; 
  right: 50px; 
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  z-index: 10;
  background-color: #E97171;
  display: flex;
  align-items: center;
  justify-content: center;
}




.productImg {
  display: block;
  width: 250px;
  height: 250px;
  margin-right: 10px;

}

.productInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F4F5F7;
  width: 250px;
  height: 100px;
  padding: 10px 15px 15px 20px;
  overflow: hidden;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;

}

.productDescription {
  font-size: 14px;
  color: #030303;
  margin-bottom: 5px;
  ;
}

.productPriceContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os preços */
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.originalPrice {
  font-size: 16px;
  font-weight: bold;
  color: #a415cf;
  text-decoration: line-through;
}


#paginationContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;

}

.pagination {
  color: #000;
  display: flex;
  list-style: none;
  padding: 10px 40px;
  flex-direction: row;
  margin: 0;
  justify-content: center;
}

.pagination ul {
  display: flex;
  margin: 20px 30px;
}

.pagination ul li {
  margin: 0px 10px;
  cursor: pointer;
  list-style: none;
  background-color: #F9F1E7;
  outline: none;
  border: none;
  border-radius: 4px;
}

.pagination a {
  color: #000;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
  margin-right: 0px;
}

.btn1 {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  color: #000;
  background-color: #F9F1E7;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 8px 15px 8px 15px;
  margin: 18px;
  margin-left: 0px;
  background-position: 0 -45px;
  cursor: pointer;
}


ul li.active {
  background-color: #B88E2F;
  color: #ffffff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0 -45px;
}


.serviceSection {
  color: rgb(0, 0, 0);
  background-color: #FAF3EA;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* width: 100vw; */
  height: 200px;
  box-shadow: 0px 3px 3px 5px #F9F1E7;
}

.service {
  display: flex;
  align-items: center;
  padding: 50px;
  flex: 1;
  justify-content: center;
}

.service img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.serviceText {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.service h2 {
  color: #242424;
  font-size: 20px;
  margin: 0;
}

.service p {
  font-size: 16px;
  color: #898989;
  margin: 0;

}

.contentFooter {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  list-style: none;
  height: 300px;
  margin: 30px;
  padding: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  color: #9F9F9F;
  font-size: 16px;
  width: 250px;
}

.address h3 {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 24px;
  padding-bottom: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 16px;
  width: 250px;
  /* padding: 10px; */
}

.links ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
}

.links h4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
  color: #9F9F9F;
}


.help {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 16px;
  width: 250px;
  /* padding: 10px; */
}

.help ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.help ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
}

.help h4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
  color: #9F9F9F;
}

.newsletter {
  color: #9F9F9F;
}

.copyright {
  display: flex;
  align-items: flex-start;
  color: #000000;
  font-size: 16px;
  padding: 30px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(122, 0, 0, 0.1);
}


.button.visible {
  position: relative;
  top: -60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button button {
  background-color: #ffffff;
  color: #B88E2F;
  font-size: 16px;
  position: relative;
  left: 48%;
  transform: translate(-50%, 60%);
  outline: none;
  border: none;
  padding: 8px 15px;
  margin: 5px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  padding: 20px;
  padding-top: 40px;
  margin-right: 8px;
}

.details a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.details ul {
  list-style: none;
  display: flex;
}

.details img {
  /* margin-right: 8px; */
  list-style: none;
  width: 12px;
  height: 12px;

}


.bg {
  position: absolute;
  top: -100px;
  width: calc(100% + -10px);
  height: calc(100% + 315px);
  background-color: rgba(0, 0, 0, 0.301);
  z-index: -10;
}

.button.hidden {
  display: none;
}

.newsletterEmail input{ 
  background-color: #a415cf;

}