@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34;
  font-family: bold;

}

.logo img {
  width: 35px;
  height: 25px;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100vw;
  height: 3.12rem;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.253);
}

.navbar {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;

}

.navbar ul {
  width: 100%;
  display: flex;
  list-style: none;

}

.navbar li {
  display: inline;
  margin: 0 2rem;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #00000088;
}

.navIcons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navIcons ul li {
  margin: 1rem;
  list-style: none;
  float: left;
}

.navIcons ul li a {
  text-align: center;
  margin: 0 .7rem;
}


.navIcons img {
  width: 15px;
  height: 15px;
}



.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 170px;
  z-index: 999;
  background-color: rgb(249, 241, 231, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}


.sidebar ul {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.sidebar li {
  display: inline;
  margin: 0 2rem;
}

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.sidebar ul li {
  padding: 10px;
  margin-left: 5px;
}

.sidebar.visible {
  display: flex;
}

.sidebar a:hover {
  text-decoration: none;
  cursor: pointer;
  /* color: #77777788; */
}

.sidebarIcons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


.sidebarIcons ul {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebarIcons ul li {
  width: 100%;
}

.sidebarIcons ul li a {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 2px;
}

.sidebarIcons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  padding: 1px;
  margin: 3px;
}

.sidebarIcons p {
  font-size: 16px;
  padding: 2px;
}

.sidebarIcons a:hover {
  text-decoration: none;
}


#toggleSidebar {
  display: none;
  /* height: 0;
  overflow: hidden;
  cursor: pointer; */
}



.header {
  margin: 0;
  padding: 0;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 10;
  position: relative;
}

.headerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 20;
}

/* h1 {
  /* font-family:; */

.headerContent p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.headerImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100vh;
}


.headerBottom {
  color: rgb(0, 0, 0);
  background-color: #F9F1E7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 3px 5px #F9F1E7;
}

.headerBottom img {
  width: 20px;
  height: 20px;
  margin-right: .8rem;
}


/* FILTER PER PRICE AND NAME  */

.filterPriceAndName {
  white-space: nowrap;
  position: relative;
  display: flex;
  padding: .5rem;
}

.filterImg {
  cursor: pointer;
  display: flex;
  padding-left: 4rem;
}

.containerFilter {
  width: 300px;
  height: 85px;
  background-color: #fff;
  position: absolute;
  top: 150%;
  left: 27%;
  z-index: 1000;
}

.containerFilter {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.containerFilter .checkbox {
  padding: .5rem;
}

.checkUnderline {
  margin: 0 1rem;
  width: 1px;
  height: 50px;
  border: .6px solid rgba(0, 0, 0, 0.404);
}

.containerFilter.hidden {
  display: none;
}

/* .filterPriceAndName .hidden {
  display: none;
}
.filterPriceAndName .visible {
  display: block;
} */


.underline {
  margin: 0 1rem 0 1rem;
  height: 20px;
  border: .6px solid rgba(0, 0, 0, 0.404);
}

#products {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-right: 5px; */
  padding: 5px
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}

.invalidEmail {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  background-color: rgb(249, 241, 231, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.validEmail {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  background-color: rgb(249, 241, 231, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}


.overlay.visible {
  display: block;
}

.invalidEmail.visible {
  display: flex;
}

.validEmail.visible {
  display: flex;
}





#products .productCard {
  display: none;
}

#products .productCard.visible {
  display: block;
}

#products .productCard.hidden {
  display: none;
}

.productCard {
  box-sizing: border-box;
  position: relative;
  border-radius: 1px;
  overflow: hidden;
  width: 300px;
  padding: 20px;
}


/* HOVER */
.button.visible {
  position: relative;
  top: -60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}



.button button {
  background-color: #ffffff;
  color: #B88E2F;
  font-size: 16px;
  position: relative;
  left: 48%;
  transform: translate(-50%, 60%);
  outline: none;
  border: none;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  padding: 20px;
  padding-top: 40px;
  margin-right: 8px;
}

.details a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 1.2px;
}

.details ul {
  list-style: none;
  display: flex;
}

.details img {
  margin-right: 2.5px;
  padding: 1.1px;
  list-style: none;
  width: 12px;
  height: 12px;
}

.bg {
  position: absolute;
  padding: 0;
  top: -100px;
  width: calc(100% + -10px);
  height: calc(100% + 315px);
  background-color: #3a3a3aa4;
  z-index: -1000;
}

.button.hidden {
  display: none;
}

.newBadge {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  z-index: 10;
  background-color: #2EC1AC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountBadge {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  z-index: 10;
  background-color: #E97171;
  display: flex;
  align-items: center;
  justify-content: center;
}




.productImg {
  display: block;
  width: 250px;
  height: 250px;
  margin-right: 10px;

}

.productInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #F4F5F7;
  width: 250px;
  height: 100px;
  padding: 10px 15px 15px 20px;
  overflow: hidden;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;

}

.productDescription {
  font-size: 14px;
  color: #030303;
  margin-bottom: 5px;
  ;
}

.productPriceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Espaço entre os preços */
}

.productPrice {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.originalPrice {
  font-size: 14px;
  color: #b3b3b3;
  text-decoration: line-through;
}

.containerPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#paginationContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#paginationList {
  display: flex;
  margin: 20px 22px;
}


.pagination ul li {
  margin: 0px 10px;
  cursor: pointer;
  list-style: none;
  background-color: #F9F1E7;
  outline: none;
  border: none;
  border-radius: 8px;
}

.pagination ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  margin-right: 0px;
  border-radius: 8px;
}

.pagination ul li a.active {
  color: #ffffff;
  background-color: #B88E2F;
}

.pagination a:hover {
  color: #ffffff;
  background-color: #B88E2F;
}

.btn1 {
  font-size: 16px;
  color: #000;
  background-color: #F9F1E7;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: .8rem;
  cursor: pointer;
}

.btn1:hover {
  background-color: #B88E2F;
  color: #FFF;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li.active {
  background-color: #B88E2F;
  color: #ffffff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0 -45px;
}


.serviceSection {
  color: rgb(0, 0, 0);
  background-color: #FAF3EA;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  box-shadow: 0px 3px 3px 5px #F9F1E7;
}

.service {
  display: flex;
  align-items: center;
  padding: 50px;
  flex: 1;
  /* justify-content: center; */

}


.service img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.serviceText {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.service h2 {
  color: #242424;
  font-size: 20px;
  margin: 0;
}

.service p {
  font-size: 16px;
  color: #898989;
  margin: 0;

}

.contentFooter {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  list-style: none;
  height: auto;
  margin: 30px;
  padding: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  color: #9F9F9F;
  font-size: 16px;
  width: 250px;
}

.address h3 {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 24px;
  padding-bottom: 50px;
}

.links {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 16px;
  width: 250px;
  /* padding: 10px; */
}

.address {
  padding: 15px;
}

.links ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
}

.links h4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
  color: #9F9F9F;
}


.help {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 16px;
  width: 250px;
  /* padding: 10px; */
}

.help ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.help ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
}

.help h4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  margin: 5px;
  color: #9F9F9F;
}

.newsletter {
  padding: 16px;
  width: 250px;
  color: #9F9F9F;
}

#email {
  width: 200PX;
  padding: .2rem 0;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

#email:focus {
  outline: none;

}

.subscribe {
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.containerEmail {
  margin-top: 1rem;
  display: flex;
}

.copyright {
  display: flex;
  color: #000000;
  font-size: 16px;
  padding: 30px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(122, 0, 0, 0.1);
}




.newsletterEmail input {
  background-color: #a415cf;

}

/* SHOW AND
 */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productShow {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
}

#productCount {
  color: #9F9F9F;
  padding-left: 10px;
  border: none;
  width: 35px;
  height: 35px;
}

#productCount:focus {
  outline: none;
}

#paginationContainer {
  justify-content: center;
  align-items: center;
}

.pagination ul {
  justify-content: center;
}

.pagination ul li {
  margin: 8px 15px
}

#paginationList {
  flex-wrap: wrap;
}


.pagination {
  display: flex;
  justify-content: center;
  padding-right: 24px;
}

@media screen and (max-width: 1200px) {
  .navbar ul li {
    font-size: 14px;
  }

  .navIcons ul li {
    margin: 0.4rem;
  }
}


@media screen and (max-width: 800px) {
  #toggleSidebar {
    display: block;
    height: auto;
    overflow: visible;
  }

  .navbar,
  .navIcons {
    display: none;
  }

  .logo a {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: bold;
  }

  .nav .logo h1 {
    font-size: 18;
  }

  .logo img {
    width: 30px;
    height: 22px;
  }

  .filterPriceAndName {
    padding-left: 2rem;
  }

  .filterImg {
    padding-left: 2rem;
  }

  .containerFilter {
    width: 250px;
    left: 20%;
  }
}


@media (max-width: 500px) {
  .headerBottom {
    padding: .5rem 0 0 2rem;
  }

  .filterPriceAndName {
    margin-left: 1rem;
  }

  .service h2 {
    font-size: 15px;
    white-space: nowrap
  }

  .service p {
    font-size: 10px;
    white-space: nowrap
  }

  .service img {
    width: 35px;
    height: 35px;
  }

  .headerBottom {
    height: auto;
    margin-bottom: 1.3rem;
    font-size: 14px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .filterPriceAndName {
    top: 0.5rem;
    right: 1.3rem;
    padding-left: 1.1rem;
  }


  .filterImg {
    padding-left: 0.5rem;
    width: auto;
    height: 10px;
  }

  .containerFilter {
    white-space: nowrap;
    height: auto;
    width: auto;
    left: 10%;
  }

  .underline {
    margin: 0 .5rem 0 .5rem;
    height: 20px;
  }

  .resultsPage {
    width: 180px;
  }

  .productShow {
    padding-left: 1.4rem;
    width: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #productCount {
    padding-left: 10px;
  }

  #productCount {
    padding-left: 10px;
  }

  .btn1 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 5px;
  }



}