@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.logo {
  display: flex;
  align-items: center;
  font-family: bold;
  font-family: 'Montserrat', sans-serif;
}

.logo img {
  width: 35px;
  height: 25px;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem;
  width: 100vw;
  height: 3.8rem;
  box-shadow: 1px 4px 5px #00000041;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  width: 100%;
  display: flex;
  list-style: none;
}

.navbar li {
  display: inline;
  margin: 0 2rem;
  font-size: 14px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #00000088;
}

.navIcons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.navIcons ul li {
  padding-right: 22px;
  list-style: none;
  float: left;
}

.navIcons ul li a {
  margin: 0 0.7rem;
}

.navIcons img {
  width: auto;
  height: 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 170px;
  z-index: 999;
  background-color: rgba(249, 241, 231, 0.706);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.sidebar ul {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.sidebar li {
  display: inline;
  margin: 0 2rem;
}

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.sidebar ul li {
  padding: 10px;
  margin-left: 5px;
}

.sidebar.visible {
  display: flex;
}

.sidebar a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #00000088;
}

.sidebarIcons ul {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebarIcons ul li {
  width: 100%;
}

.sidebarIcons ul li a {
  color: rgb(0, 0, 0);
  width: 100%;
  display: flex;
  align-items: center;
  margin: 2px;
}

.sidebarIcons img {
  width: auto;
  height: 16px;
  cursor: pointer;
  padding: 1px;
  margin-right: 6px;
}

.sidebarIcons p {
  font-size: 16px;
  padding: 2px;
  font-weight: 500;
  font-size: 14px;
}

.sidebarIcons a:hover {
  text-decoration: none;
}

#toggleSidebar {
  display: none;
}

.header {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 10;
  position: relative;
}

.headerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(0, 0, 0);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerContent h1 {
  font-size: 35px;
  font-weight: 500;
}

.headerContent p span {
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.headerContent p {
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 300;
}

.headerImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 100vh;
}

.headerBottom {
  color: rgb(0, 0, 0);
  background-color: #f9f1e7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  height: auto;
  box-shadow: 0px 3px 3px 5px #f9f1e7;
}

.headerBottom img {
  width: 20px;
  height: 20px;
  margin-right: 0.8rem;
}

.filterPriceAndName {
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 16px;
}

.filterName {
  font-size: 20px;
}

.filterImg {
  cursor: pointer;
  display: flex;
  padding-left: 4rem;
}

.containerFilter {
  width: 310px;
  height: 85px;
  background-color: #fff;
  position: absolute;
  top: 125%;
  left: 16%;
  z-index: 1000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1.5px #0000000e;
  background-color: #f9f1e781;
  backdrop-filter: blur(10px);
  font-size: 14px;
}

.containerFilter {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.containerFilter .checkbox {
  padding: 0.5rem;
}

.checkUnderline {
  margin: 0 1rem;
  width: 1px;
  height: 50px;
  border: 0.6px solid rgba(0, 0, 0, 0.404);
}

.containerFilter.hidden {
  display: none;
}

.underline {
  margin: 0 1rem 0 1rem;
  height: 20px;
  border: 0.6px solid rgba(0, 0, 0, 0.404);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.productShow {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
}

.productShow label {
  font-size: 20px;
  padding-right: 10px;
}

#productCount {
  color: #9f9f9f;
  font-size: 16px;
  padding-left: 15px;
  border: none;
  width: 50px;
  height: 50px;
}

#productCount:focus {
  outline: none;
}

#products {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

.productCard {
  position: relative;
  border-radius: 1px;
  width: 300px;
  padding: 20px;
}

.productImg {
  display: block;
  width: 250px;
  height: 250px;
}

.productInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f4f5f7;
  width: 250px;
  height: 100px;
  padding: 10px 15px 15px 20px;
  overflow: hidden;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
  font-weight: 600;
}

.productDescription {
  font-size: 14px;
  color: #898989;
  margin-bottom: 5px;
  font-weight: 500;
}


.productPrice {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}

.originalPrice {
  font-weight: 400;
  font-size: 14px;
  color: #b3b3b3;
  text-decoration: line-through;
}

.containerPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.newBadge {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  z-index: 10;
  background-color: #2ec1ac;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
}

.discountBadge {
  position: absolute;
  top: 40px;
  right: 50px;
  width: 40px;
  height: 40px;
  color: white;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50px;
  z-index: 10;
  background-color: #e97171;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
}

/* HOVER */
.button.visible {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 260px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.button button {
  background-color: #ffffff;
  color: #b88e2f;
  font-weight: 600;
  border: none;
  position: relative;
  left: 48%;
  transform: translate(-50%);
  outline: none;
  border: none;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.details {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 20px 40px 0 15px;
  margin-right: 8px;
}

.details a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 1.2px;
  font-size: 14px;
  font-weight: 600;
}

.details ul {
  display: flex;
}

.details ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details img {
  margin-right: 2px;
  padding: 1.1px;
  width: 15px;
  height: 15px;
}

.bg {
  position: absolute;
  top: -138px;
  width: calc(100% + -10px);
  height: calc(100% + 315px);
  background-color: #3a3a3aa4;
  z-index: -1000;
}

.button.hidden {
  display: none;
}

#paginationContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#paginationList {
  display: flex;
  margin: 20px 22px;
  font-weight: 400;
  font-size: 14px;
  flex-wrap: wrap;
}

.pagination ul li {
  margin: 0px 10px;
  cursor: pointer;
  list-style: none;
  background-color: #f9f1e7;
  outline: none;
  border: none;
  border-radius: 8px;
  margin: 8px 15px;
}

.pagination ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  margin-right: 0px;
  border-radius: 8px;
}

.pagination ul li a.active {
  color: #ffffff;
  background-color: #b88e2f;
}

.pagination a:hover {
  color: #ffffff;
  background-color: #b88e2f;
}

.btn1 {
  font-size: 16px;
  color: #000;
  background-color: #f9f1e7;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
}

.btn1:hover {
  background-color: #b88e2f;
  color: #fff;
}

ul li.active {
  background-color: #b88e2f;
  color: #ffffff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0 -45px;
}

.pagination ul {
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
}

.serviceSection {
  color: rgb(0, 0, 0);
  background-color: #faf3ea;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: auto;
  box-shadow: 0px 3px 3px 5px #f9f1e7;
}

.service {
  display: flex;
  align-items: center;
  height: 250px;
  padding: 50px;
  flex: 1;
}

.service img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.serviceText {
  display: flex;
  flex-direction: column;
}

.serviceTitle {
  color: #242424;
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.service p {
  font-size: 16px;
  color: #898989;
  font-weight: 500;
}

.contentFooter {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  height: auto;
  margin: 30px;
  padding: 2rem 0 0 2rem;
}

.contentFooter h3 {
  padding-top: 20px;
  padding-left: 20px;
}

.contentFooter p {
  padding: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  color: #9f9f9f;
  font-size: 15px;
  width: 280px;
  font-weight: 400;
}

.address h3 {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 24px;
  padding-bottom: 50px;
  font-weight: 700;
}

.links {
  display: flex;
  flex-direction: column;
  color: #000000;
}

.links ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.links ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 14px;
  margin: 5px;
  font-weight: 500;
  font-size: 15px;
}

.links h4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 14px;
  margin: 5px;
  color: #9f9f9f;
  font-weight: 500;
  font-size: 15px;
}

.links a:hover {
  color: #00000088;
}

.help {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-size: 15px;
}

.help ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.help ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 14px;
  margin: 5px;
  font-weight: 500;
  font-size: 15px;
}

.help h4 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 14px;
  margin: 5px;
  color: #9f9f9f;
  font-weight: 500;
  font-size: 15px;
}

.help a:hover {
  color: #00000088;
}
.newsletter {
  padding: 16px;
  color: #9f9f9f;
}

.newsletter h4 {
  font-weight: 500;
  font-size: 15px;
}

#email {
  padding: 2rem 0 0.3rem 0;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
  width: 175px;
  background-color: white;
}

#email::placeholder {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

#email:focus {
  outline: none;
}

.subscribe {
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  border: none;
  padding: 2rem 0 0.4rem 0;
  border-bottom: 1px solid black;
  font-weight: 500;
}

.subscribe:hover {
  color: #00000088;
}
.containerEmail {
  margin-top: 1rem;
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99;
}

.validEmail,
.invalidEmail {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: #3a3a3a;
}

.buttonOk {
  cursor: pointer;
  border-radius: 10px;
  color: #3a3a3a;
  background-color: #f9f1e7;
  font-weight: 600;
  border: none;
  margin-top: 1rem;
  padding: 0.7rem;
  transition: 0.2s ease-in-out;
}

.buttonOk:hover {
  background-color: #b88e2f;
  color: #fff;
}

.overlay.visible {
  display: block;
}

.invalidEmail.visible {
  display: flex;
}

.validEmail.visible {
  display: flex;
}

.copyright {
  display: flex;
  color: #000000;
  font-size: 15px;
  padding: 30px;
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgba(122, 0, 0, 0.1);
  font-weight: 500;
}


@media screen and (max-width: 1200px) {
  .navbar ul li {
    font-size: 14px;
  }

  .navIcons ul li {
    margin: 0.4rem;
    padding: 0;
  }

  .navIcons ul li img {
    width: auto;
    height: 14px;
  }
}

@media screen and (max-width: 840px) {
  #toggleSidebar {
    display: block;
    height: auto;
    overflow: visible;
  }

  .navbar,
  .navIcons {
    display: none;
  }


.sidebarIcons ul{
  padding-bottom: 30px;

}
  .logo a {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .logo img {
    width: 30px;
    height: 22px;
  }

  .filterPriceAndName {
    padding-left: 2rem;
  }

  .filterName {
    font-size: 18px;
  }

  .productShow {
    padding: 0 20px;
  }
  .productShow label {
    font-size: 18px;
  }

  .filterImg {
    padding-left: 1.3rem;
  }

  .underline {
    margin: 0 12px;
  }
  .containerFilter {
    width: 250px;
    left: 20%;
  }

  .links ul li a {
    font-size: 14px;
    padding: 0 16px 0 16px;
  }

  .help ul li a {
    font-size: 14px;
    padding: 0 16px 0 16px;
  }

  .links h4,
  .help h4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .newsletter h4 {
    padding-top: 2rem;
  }
}

@media (max-width: 550px) {
  .headerContent h1 {
    font-size: 25px;
  }
  .headerBottom {
    height: auto;
    margin-bottom: 1.3rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0 0 2rem;
  }

  .filterPriceAndName {
    margin-left: 1rem;
  }

  .filterName {
    font-size: 16px;
  }

  .resultsPage {
    width: 180px;
  }

  .productShow {
    padding: 0 35px;
  }

  .productShow label {
    font-size: 16px;
    padding-right: 16px;
    margin-top: 5px;
  }

  #productCount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }

  .filterPriceAndName {
    top: 0.5rem;
    right: 1.3rem;
    padding-left: 1.1rem;
    font-size: 14px;
  }

  #myCheckbox1, #myCheckbox2, #myCheckbox3, #myCheckbox4{
    cursor: pointer;

  }

  .filterImg {
    padding-bottom: 18px;
    width: auto;
    height: 8px;
  }

  .containerFilter {
    white-space: nowrap;
    height: auto;
    width: auto;
    left: 10%;
  }

  .underline {
    margin: 0 0.5rem 0 0.5rem;
    height: 20px;
  }

  #paginationList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 5px 0px 50px;
    padding-bottom: 25px;
  }

  .btn1 {
    font-size: 14px;
    padding: 10px 14px;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .service {
    height: 120px;
    padding: 2rem;
    margin-left: 4em;
  }

  .service h2 {
    font-size: 15px;
    white-space: nowrap;
  }

  .service p {
    font-size: 10px;
    white-space: nowrap;
  }

  .service img {
    width: 35px;
    height: 35px;
  }
}
